@charset "UTF-8";
/* Base */ /* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&family=Merriweather:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --container-width: 1510px;
  --container-padding: 72px;
  --font-family: "Golos Text", sans-serif;
  --second-family: "Merriweather", serif;
  --page-bg: #fff;
  --text-color: #313131;
  --text-muted: #909090;
  --accent: #f54932;
  --text-white: #fff;
  --black: #1f1f1f;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}

img {
  display: block;
}

.title-1 {
  font-family: var(--second-family);
  font-size: clamp(2.25rem, 1.682rem + 2.42vw, 3.75rem);
  line-height: 1.1;
  text-transform: uppercase;
}

.title-2 {
  font-family: var(--second-family);
  font-size: clamp(2.25rem, 1.823rem + 1.82vw, 3.375rem);
  text-transform: uppercase;
}

.title-3 {
  font-family: var(--second-family);
  font-size: clamp(1.75rem, 1.56rem + 0.81vw, 2.25rem);
  line-height: 1.35;
  text-transform: uppercase;
  font-weight: 700;
}

.title-4 {
  font-weight: 600;
  font-size: 24px;
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;
}
@media (max-width: 540px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 380px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container-right {
  /* overflow-x: hidden; */
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1229px) {
  .container-right {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
}

.container-left {
  /* overflow-x: hidden; */
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1229px) {
  .container-left {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
/* Blocks */
.header {
  padding-top: 26px;
  padding-bottom: 130px;
  background: url("./../img/header/all-1920.png") no-repeat bottom;
  background-color: #e9ded4;
  position: relative;
}
@media (max-width: 1366px) {
  .header {
    background: url("./../img/header/all-1366.png") no-repeat bottom;
    background-color: #e9ded4;
  }
}
@media (max-width: 900px) {
  .header {
    padding-bottom: 200px;
    background: url("./../img/header/notSun.png") no-repeat bottom;
    background-color: #e9ded4;
  }
}
@media (max-width: 600px) {
  .header {
    padding-bottom: 250px;
    padding-top: 18px;
  }
}
@media (max-width: 375px) {
  .header {
    padding-bottom: 310px;
    background: url("./../img/header/all-600.png") no-repeat bottom center;
    background-color: #e9ded4;
  }
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("./../img/header/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 62px;
}
@media (max-width: 500px) {
  .header__column {
    gap: 40px;
  }
}

.logo {
  width: 213px;
}

.header__content {
  max-width: 542px;
  text-align: center;
  z-index: 2;
}
.header__content-text {
  margin-top: 24px;
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.3;
}
@media (max-width: 500px) {
  .header__content-text {
    margin-bottom: 32px;
    text-align: left;
  }
}

.title-left {
  display: block;
  text-align: start;
}
.title-right {
  display: block;
  text-align: end;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 676px) {
  .header__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 9px;
  }
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--black);
  border-radius: 66px;
  padding: 20px;
  width: 263px;
  height: 72px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
}
@media (max-width: 676px) {
  .header__button {
    width: 100%;
    padding: 24px;
    height: 20px;
  }
  .header__button .mobile-break {
    display: none;
    padding: 18px 43px;
  }
}

.header__button--black {
  background: var(--black);
  color: var(--text-white);
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.header__button--black:hover {
  color: var(--text-color);
  border: 2px solid #fbce51;
  background: #fbce51;
}

.header__button--empty {
  color: var(--black);
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.header__button--empty:hover {
  background: var(--black);
  color: var(--text-white);
}

.tournament {
  padding-bottom: 87px;
}

.tournament__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 83px;
  padding-bottom: 33px;
}
@media (max-width: 1300px) {
  .tournament__info {
    padding-top: 28px;
    padding-bottom: 33px;
    gap: 35px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 500px) {
  .tournament__info {
    gap: 24px;
    padding-bottom: 53px;
  }
}

.tournament__info-title {
  max-width: 764px;
}
.tournament__info-title--accent {
  color: var(--accent);
}
@media (max-width: 1300px) {
  .tournament__info-title--none {
    display: none;
  }
  .tournament__info-title--media {
    display: block !important;
  }
}

.tournament__event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 17px;
}
.tournament__event-image {
  margin-left: -30px;
}
@media (max-width: 500px) {
  .tournament__event-image {
    margin: -20px;
  }
}
.tournament__event-details {
  margin-top: 29px;
}
@media (max-width: 1300px) {
  .tournament__event {
    gap: 43px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 17px;
  }
}
@media (max-width: 500px) {
  .tournament__event {
    gap: 17px;
  }
}

.tournament__event-title {
  max-width: 704px;
}

.tournament__event-table {
  border-collapse: collapse;
  width: 100%;
  border: 3px solid transparent;
  margin-top: 37px;
  margin-bottom: 27px;
}
@media (max-width: 768px) {
  .tournament__event-table {
    display: none;
  }
}

.tournament__event-table td {
  border: 2px solid #d0d0d0;
  width: 0;
}

.column-left {
  padding: 16px 0;
}

.column-right {
  padding: 16px;
}

.tournament__contact-link {
  color: #3057a2;
}
@media (max-width: 500px) {
  .tournament__contact-link {
    font-size: 18px;
  }
}

.tournament__contact-link:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .tournament__event-columns {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 32px;
    margin-top: 42px;
    margin-bottom: 39px;
  }
  .tournament__event-columns__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    position: relative;
  }
  .tournament__event-columns__block--line::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -16px;
    height: 1px;
    background: #d0d0d0;
  }
}
.tournament__event-table__title {
  opacity: 0.7;
}

.tournament__event-table__text {
  font-weight: 600;
}

.tournament__event-table__text s {
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
  padding-right: 9px;
}

.steps {
  padding: 103px 0;
}
@media (max-width: 1100px) {
  .steps {
    padding: 28px 0;
  }
}

.steps__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 54px;
}
@media (max-width: 768px) {
  .steps__column {
    gap: 30px;
  }
}
@media (max-width: 450px) {
  .steps__column {
    gap: 20px;
  }
}

.steps__title-block {
  max-width: 715px;
  position: relative;
}

@media (max-width: 1100px) {
  .steps__title {
    margin-bottom: 2px;
  }
}

.steps__link {
  width: 280px;
  height: 48px;
  color: #3057a2;
  position: absolute;
  left: 301px;
  bottom: 10px;
  font-size: clamp(1.125rem, 1.078rem + 0.2vw, 1.25rem);
}
@media (max-width: 1100px) {
  .steps__link {
    position: static;
  }
}

.steps__link:hover {
  opacity: 0.7;
}

.steps__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  row-gap: 20px;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  counter-reset: list-counter; /* Устанавливаем счётчик для списка */
  list-style: none; /* Убираем стандартные маркеры */
  padding-left: 0;
}

.steps__item {
  padding: 20px 20px 20px 71px;
  font-weight: 500;
  counter-increment: list-counter;
  position: relative;
  background: url(./../img/steps/bg.jpg), lightgray center/cover no-repeat;
  background-color: #e9ded4;
}

.steps__item::before {
  content: counter(list-counter);
  font-weight: 600;
  position: absolute;
  left: 21px;
  top: 20px;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps__item-block3 {
  grid-row: 1/3;
  grid-column: 3/3;
}

.steps__item-block7 {
  position: relative;
  grid-row: 3/3;
  grid-column: 2/4;
}
.steps__item-block7 p {
  max-width: 417px;
}

.steps__item-block7::after {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: 376px;
  right: -8%;
  top: -125%;
  background: url(./../img/steps/01.png) right/contain no-repeat;
}

@media (max-width: 1100px) {
  .steps__list--none {
    display: none;
  }
  .steps__swiper--mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
.steps__swiper {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  padding-top: 128px;
}

.steps__swiper::before {
  content: "";
  position: absolute;
  display: block;
  width: 335px;
  height: 182px;
  z-index: 2;
  top: 0;
  background: url(./../img/steps/01-mob.png) no-repeat;
}

.steps__swiper-block {
  display: grid;
  justify-items: start;
  grid-template-columns: 36px 239px;
  gap: 3px;
}

.steps__swiper-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 28px;
  background: url(./../img/steps/bg.jpg), lightgray center/cover no-repeat;
  height: 300px !important;
  padding: 62px 20px 34px 32px;
}

.steps__swiper-slide__number {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 6px;
}

.steps__swiper-slide__number::after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  top: -4px;
  left: -12px;
  z-index: -1;
}

.steps__swiper-text {
  font-weight: 500;
  font-size: 18px;
}

.steps__swiper-navigation {
  margin: 0 auto;
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}

.steps__swiper-pagination {
  width: auto !important;
}
.steps__swiper-pagination span {
  width: 10px;
  height: 10px;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 3px) !important;
}

.steps__swiper-button-prev,
.steps__swiper-button-next {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; /* Добавлено для лучшей визуальной отзывчивости */
}

.steps__swiper-button-prev.disabled,
.steps__swiper-button-next.disabled,
.swiper-button-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.steps__swiper-button-prev circle:hover,
.steps__swiper-button-next circle:hover {
  -webkit-transition: fill 0.2s, color 0.2s;
  transition: fill 0.2s, color 0.2s;
  fill: #fbce51;
}

.ticker {
  padding: 18px 0;
  background-color: #f54932;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
@media (max-width: 500px) {
  .ticker {
    padding: 6px 0;
  }
  .ticker--media-top {
    top: -23px;
  }
}

.ticker-text {
  display: inline-block;
  font-family: var(--second-family);
  font-size: clamp(1rem, 0.858rem + 0.61vw, 1.375rem);
  text-transform: uppercase;
  color: #fff;
  /* Анимация */
  -webkit-animation: ticker 20s linear infinite;
          animation: ticker 20s linear infinite;
}

@-webkit-keyframes ticker {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes ticker {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.chessplayers {
  padding-bottom: 140px;
  padding-top: 97px;
}
@media (max-width: 1300px) {
  .chessplayers {
    padding-top: 89px;
  }
}
@media (max-width: 450px) {
  .chessplayers {
    padding-bottom: 179px;
  }
}

.chessplayers__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
@media (max-width: 1035px) {
  .chessplayers__column {
    gap: 0px;
  }
}

.chessplayers__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1035px) {
  .chessplayers__title {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.chessplayers__swiper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.swiper-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 63px;
}
@media (max-width: 1035px) {
  .swiper-navigation {
    bottom: -464px;
    margin: 0 auto;
    gap: 56px;
  }
}

.button-prev,
.button-next {
  width: 36px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; /* Добавлено для лучшей визуальной отзывчивости */
}

.button-prev.disabled,
.button-next.disabled,
.swiper-button-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.button-prev circle:hover,
.button-next circle:hover {
  -webkit-transition: fill 0.2s, color 0.2s;
  transition: fill 0.2s, color 0.2s;
  fill: #fbce51;
}

/* Дополнительные стили для пагинации */
.swiper-pagination {
  z-index: 1 !important;
  position: absolute;
  bottom: 11px !important;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chessplayers-slide {
  width: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1035px) {
  .chessplayers__swiper-image {
    width: 243px;
  }
}

.swiper-slide__title {
  margin-top: 28px;
}

.swiper-slide__text {
  margin-top: 6px;
  opacity: 0.6;
  margin-bottom: 12px;
}

.swiper-slide__link {
  margin-top: 6px;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  padding: 7px 11px;
  border-radius: 62px;
  border: 1px solid #3057a2;
  color: #3057a2;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
@media (max-width: 1100px) {
  .swiper-slide__link {
    margin-top: 10px;
  }
}

.swiper-slide__link:hover {
  background-color: #3057a2;
  color: #fff;
}

.footer {
  padding-top: 40px;
  padding-bottom: 70px;
  background: #e9ded4;
}
@media (max-width: 1035px) {
  .footer {
    padding-bottom: 60px;
  }
}

.footer-text {
  font-size: 16px;
  opacity: 0.6;
}