.chessplayers {
    padding-bottom: 140px;
    padding-top: 97px;

    @media (max-width: 1300px) {
        padding-top: 89px;
    }
    @media (max-width: 450px) {
        padding-bottom: 179px;
    }
}

.chessplayers__column {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media (max-width: 1035px) {
        gap: 0px;
    }
}

.chessplayers__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1035px) {
        align-items: flex-start;
        flex-direction: column;
    }
}

.chessplayers__swiper {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.swiper-navigation {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 63px;

    @media (max-width: 1035px) {
        bottom: -464px;
        margin: 0 auto;
        gap: 56px;
    }
}

.button-prev,
.button-next {
    width: 36px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Добавлено для лучшей визуальной отзывчивости */
}

.button-prev.disabled,
.button-next.disabled,
.swiper-button-disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

.button-prev circle:hover,
.button-next circle:hover {
    transition: fill 0.2s, color 0.2s;
    fill: #fbce51;
}

/* Дополнительные стили для пагинации */
.swiper-pagination {
    z-index: 1 !important;
    position: absolute;
    bottom: 11px !important;

    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.chessplayers-slide {
    width: auto;
    flex-shrink: 0;
    box-sizing: border-box;

    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chessplayers__swiper-image {
    @media (max-width: 1035px) {
        width: 243px;
    }
}

.swiper-slide__title {
    margin-top: 28px;
}

.swiper-slide__text {
    margin-top: 6px;

    opacity: 0.6;
    margin-bottom: 12px;
}

.swiper-slide__link {
    margin-top: 6px;

    font-weight: 500;
    font-size: 16px;

    text-decoration: none;
    display: inline-block;
    padding: 7px 11px;
    border-radius: 62px;
    border: 1px solid #3057a2;
    color: #3057a2;
    transition: background-color 0.3s, color 0.3s;

    @media (max-width: 1100px) {
        margin-top: 10px;
    }
}

.swiper-slide__link:hover {
    background-color: #3057a2;
    color: #fff;
}
